body {
  background-color: red;
}

.sliderContainer {
  display: flex;
}

.slide {
  height: 300px;
  border: solid 6px white;
  border-radius: 2px;
  margin: 25px;

  transition: all 1s;

  &.active {
    position: absolute;
    left: 600px;
    z-index: 1000;

    transform: scale(1.5);
  }

  &.inactive {
    filter: blur(2px)
  }

  &.anime {
    animation: bigger 1s 1;
  }
}

@keyframes bigger {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

.buttons {
  position: absolute;
  left: 300px;
}
