body {
  background-color: red;
}
.sliderContainer {
  display: flex;
}
.slide {
  margin: 25px;
  border-radius: 2px;
  height: 200px;
  width: 200px;
  border: solid 6px white;
  transition: all 1000ms;
}

.active {
  transform: scale(1.1);
}
.near {
  margin: 25px;
  border-radius: 2px;
  height: 200px;
  width: 200px;
  border: solid 6px green;
}

.before {
  position: absolute;
  left: 300px;
}
.after {
  position: absolute;
  left: 900px;
}
.none {
  display: none;
}
